@mixin flexCenteredBetween() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexCentered() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin iconsCommonSize() {
  width: 20px;
  height: 20px;
  background-size: cover;
}

@mixin iconsCommonSizeMob() {
  width: 24px;
  height: 24px;
  padding: 4px;
  background-size: cover;
}

@mixin activeMobIcon() {
  border: 2px solid $main-color;
  border-radius: 8px
}

@mixin headerBtnCommon() {
  &__title {
    margin-left: 12px;
    text-decoration: none;
    color: $main-color;

    &:hover {
      text-decoration: underline;
    }
  }

  &._active {
    font-weight: bold;
  }
}

@mixin iconStyles {
  width: 24px;
  height: 24px;
  background-size: cover;
}